input[type=button] {
  background: #81afdc;
  height: 26px;
  border-radius: 7px;
  color: #000;
  font-size: 13px;
  border: none; }
  input[type=button]:hover {
    color: #0e83cd;
    background: #fff; }

input[type=radio] {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

input[type=radio] + label {
  padding-left: 17px;
  height: 12px;
  display: inline-block;
  line-height: 12px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer; }

input[type=radio]:checked + label {
  background-position: 0 -12px; }

label {
  background-image: url(../images/csscheckbox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  margin: 0;
  cursor: context-menu; }

.main {
  background: url(../images/background_image.png), radial-gradient(#648880, #293f50);
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed; }

#tables table {
  border: 1px solid #ddf;
  border-collapse: collapse;
  text-align: center; }
  #tables table td, #tables table th, #tables table tr {
    border: 1px solid #ddf;
    border-collapse: collapse;
    text-align: center; }
  #tables table th, #tables table td {
    width: 44px; }
  #tables table th {
    color: honeydew; }

#parametersTable {
  width: 340px;
  text-align: left; }
  #parametersTable tr td:first-child {
    width: 200px; }

#controlPanel {
  float: left;
  width: 373px;
  margin: auto; }

#rightMenuControlButtons {
  float: left; }

#controlButtonTable, #controlButtonInputs {
  text-align: center;
  width: 25px;
  font-size: 17px;
  border: 1px solid #226fbe;
  border-radius: 15px 0 0 15px;
  color: #fff;
  background-color: #0e83cd;
  display: inline-block; }
  #controlButtonTable:hover, #controlButtonInputs:hover {
    color: #0e83cd;
    background: #fff; }
  #controlButtonTable span, #controlButtonInputs span {
    padding: 7px 7px;
    display: inline-block; }

.active {
  background-color: #81afdc !important;
  border: 1px solid #81afdc !important;
  color: #1e2429 !important; }

#tables {
  float: right; }

#pointsTableHeader {
  width: 300px; }

#pointsTableWrapper {
  height: 285px;
  width: 315px;
  overflow: auto;
  overflow-x: hidden; }

#pointsTable, #linesTableHeader {
  width: 300px; }

#linesTableWrapper {
  height: 285px;
  width: 315px;
  overflow: auto;
  overflow-x: hidden; }

#linesTable {
  width: 300px; }

#inputsForTestTrain, #modes {
  width: 90%;
  float: right;
  height: 314px;
  color: honeydew; }

#modesTable {
  width: 340px; }
  #modesTable tr td:first-child {
    width: 167px; }

#drawingBlock {
  float: left;
  height: 628px;
  width: 956px;
  margin: auto; }

.svgForDrawing {
  height: 100%;
  width: 100%;
  background-image: url(../images/image.jpg);
  border: 1px solid black; }

.graphLine {
  stroke: blue;
  stroke-width: 3;
  position: absolute;
  z-index: 1; }

.data:hover, .data:focus {
  fill: yellow !important; }

#graph {
  left: 15%;
  top: 12%;
  position: fixed;
  width: 800px;
  height: 500px;
  background: #ddf;
  display: none;
  border: 1px solid black;
  z-index: 2; }

