body, html {
    height: 98%;
}

#tables table, #tables table td, #tables table th, #tables table tr {
    border: 1px solid #ddf;
    border-collapse: collapse;
    text-align: center;
}

#tables table th, #tables table td {
    width: 71px;
}

#parametersTable {
    width: 350px;
    text-align: left;
}

#parametersTable tr td:first-child {
    width: 200px;
}

#controlPanel {
    float:right;
    width:380px;
}

#rightMenuControlButtons {
    float:left;
}

#controlButtonTable {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    writing-mode: tb-rl;
}

#controlButtonInputs {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    writing-mode: tb-rl;
}

#tables {
    float: right;
}

#pointsTableHeader {
    width: 300px;
}

#pointsTableWrapper {
    height: 290px;
    width: 315px;
    overflow: auto;
}

#pointsTable {
    width: 300px;
}

#linesTableHeader {
    width: 300px;
}

#linesTableWrapper {
    height: 290px;
    width: 315px;
    overflow: auto;
}

#linesTable {
    width: 300px;
}

#inputsForTests {
    width: 90%;
    float: right;
}

#result {

}

#drawingBlock {
    height: 95%;
}

.svgForGraph {
  height: 500px;
  width: 800px;
}

.svgForGraph .grid {
  stroke: black;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.svgForDrawing {
    height: 100%;
    width: 70%;
    background-image: url(../images/image.jpg);
    border: 1px solid black;
}

.svgForGraph .labels.x-labels {
  text-anchor: middle;
}

.svgForGraph .labels.y-labels {
  text-anchor: end;
}

.data {
  fill: red;
  stroke-width: 1; 
}

.data:hover,
.data:focus {
  fill: yellow!important;
}

#graph {
    left: 15%;
    top: 12%;
    position: fixed;
    width: 800px;
    height: 500px;
    background: #ddf;
    display: none;
    border: 1px solid black;
    z-index: 1000;
}